//- Markup Generators
mixin genItemBlock(info)
	.item
		h3!=info.prob
		h4!=info.fix
		if info.copy
			for c in info.copy
				p!=c.value

mixin genAllItems(list)
	for item in list
		+genItemBlock(item)

//- 

//- Content

.timeline
	.marker
		p Problems you can solve today

	section.today
		+genAllItems(today)

	.marker
		p Problems before election day

	section.before_elec_day
		+genAllItems(before_elec_day)

	.marker
		p Problems on election day<br/>November 8, 2016

	section.election_day
		+genAllItems(election_day)

	.marker
		p Problems for future elections

	section.later
		+genAllItems(later)
	.line

//- 
