//- Markup Generators

mixin genItemBlock(info)
	.item
		h3!=info.prob
		h4!=info.fix
		if info.copy
			p!=info.copy

mixin genAllItems(list)
	for item in list
		+genItemBlock(item)

//- 

//- Content

.marker
	p Now

section.today
	h2 Problems you might have right now
	+genAllItems(today)

.marker
	p Soon

section.before_reg_deadline
	h2 Problems that you might have soon
	+genAllItems(before_reg_deadline)

.marker
	p Registration Deadline

section.before_elec_day
	h2 Problems you might have as election day approaches
	+genAllItems(before_elec_day)

.marker
	p Election Day

section.election_day
	h2 Problems you might have on election day
	+genAllItems(election_day)

.marker
	p After election day

section.later
	h2 Problems that put your vote at risk this election season
	+genAllItems(later)

//- 
