//- Markup Generators
mixin genItemBlock(info) 
	.item(class= (info.watch_out ? "watch_out" : "problem") )
		.item-inner
			.prob
				h3!=info.prob
			.fix
				h4!=info.fix
				if info.copy
					for c in info.copy
						p!=c.value

mixin genAllItems(list)
	for item in list
		+genItemBlock(item)

mixin genSection(sec)
	.marker
		p!=sec.signpost
	section
		+genAllItems(sec.blurbs)

//- 

//- Content

.timeline
	+genSection(today)
	+genSection(before_elec_day)
	+genSection(election_day)
	+genSection(later)
	.line

p.spacer &nbsp;
p.spacer &nbsp;
p.spacer &nbsp;

//- 
