// Interactive-specific css here

#interactive-content
	max-width 940px
	margin 0 auto

section
	margin 0 auto 1em auto
	.item
		width 50%
		max-width 320px
		margin-top 1em
		
		&:nth-child(2n)
			margin-left 50%
			
		
		h3, h4
			margin 0
			padding 0
		
		p
			font-size 12px
			line-height 1.4
		
.marker
	border 1px $qz-gray-1 solid
	width auto
	
	p
		width auto
		text-align center
