// Interactive-specific css here
$prob_color = $qz-blue-1
$watch_color = $qz-purp-3
$line_color = $qz-purp-4
$watch_accent_color = yellow


#interactive-content
	max-width 940px
	margin 0 auto
	box-sizing border-box

	div, section
		box-sizing border-box

.timeline
	width 100%
	margin 0 auto
	position relative

	.line
		position absolute
		left 50%
		top -2em
		min-height 98%
		width 3px
		background-color $line_color
		z-index 0

		&::after, &::before
			content ""
			width 15px
			height 15px
			position absolute
			left (-15px/2 + 3/2)
			border-radius 100px
			background-color $line_color

		&::after
			bottom 0
		&::before
			top 0


section
	position relative
	margin 2% auto 2% auto
	padding 25

	h2
		position relative
		text-align center
		z-index 1000

	.item
		width 45%
		position relative
		z-index 1

		&::before
			content ""
			position absolute
			top 0.7em
			height 0
			width 0
			border 0.5em solid transparent
			
		&:nth-child(2n)
			margin-left 52.5%

			&::before
				right 100%
				

		&:nth-child(2n+1)
			margin-left 2.5%

			&::before
				left 100%
				
		&:not(:last-child)
			margin-bottom -8em

		.item-inner
			width 100%
			margin-top 1em
			
			.prob
				padding 0.75em
				
			.fix
				padding 0.75em
				background-color $qz-background-gray


			h3, h4
				font-family $qz-sans-bold
				margin 0
				padding 0
				font-size 1.5em
				line-height 1.2
				&::before
					font-size 0.5em
					text-transform uppercase
					letter-spacing 0.11em
					display block
					margin-bottom 0.4em

			p
				font-size 16px
				line-height 1.6
				padding 0
				margin 0.45em 0 0.45em 0
				
			h3
				color white
				&::before
					color $qz-body-black
					
			h4
				margin-top 0.2em
				&::before
					content "what you can do"
					color $qz-body-black
		&.problem
			
			&:nth-child(2n)::before
				border-right 7px solid $prob_color
				
			&:nth-child(2n+1)::before
				border-left 7px solid $prob_color
				
			.item-inner
				background-color $prob_color
				border 1px solid $prob_color
			h3
				&::before
					content "problem"
					
			h4
				color $qz-blue-2
			
		&.watch_out
			
			&:nth-child(2n)::before
				border-right 7px solid $watch_color
				
			&:nth-child(2n+1)::before
				border-left 7px solid $watch_color
				

			.item-inner
				background-color $watch_color
				border 1px solid $watch_color
			h3
				&::before
					color $watch_accent_color
					content "watch out!"
					
			h4
				color $watch_color

					


@media only screen and (max-width 590px)
	section
		.item
			padding 0 1em
			&:nth-child(2n), &:nth-child(2n+1)
				width 100%
				margin 0 auto
				margin-bottom 1em
				&::before
					border none
	.timeline

		.line
			min-height 101%

.marker
	position relative
	max-width 70%
	margin 3em auto
	background-color $qz-background-gray
	z-index 3

	p
		width auto
		text-align center
		font-family $qz-sans-bold
		font-size 1.5em
		line-height 1.2
		color $line_color
