// Interactive-specific css here

#interactive-content
	max-width 940px
	margin 0 auto

.timeline
	width 95%
	margin 0 auto
	position relative

	.line
		position absolute
		left 50%
		top 0
		min-height 100%
		width 3px
		background-color $qz-gray-1
		z-index 0


section
	position relative
	box-sizing border-box
	margin 1em auto 1em auto
	padding 1em

	h2
		position relative
		text-align center
		background-color $qz-background-gray
		z-index 1000

	.item
		z-index 1
		box-sizing border-box
		width 45%
		max-width 320px
		margin-top 1em
		margin-left 10%
		padding 0.75em
		position relative
		border 1px solid #ddd

		&:not(:last-child)
			margin-bottom -5em

		&::before
			content ""
			position absolute
			top 16px
			height 0
			width 0
			border 7px solid transparent


		background-color #ddd

		&:nth-child(2n)
			margin-left 53%

			&::before
				right 100%
				border-right 7px solid #ddd

		&:nth-child(2n+1)
			&::before
				border-left 7px solid #ddd
				left 100%


		h3, h4
			margin 0
			padding 0
			font-size 1.5em
			&::before
				font-size 0.2em
				text-transform uppercase
				letter-spacing 0.1em
				display block
				font-family $qz-sans
		h3
			&::before
				content "problem"

		h4
			margin-top 0.2em
			&::before
				content "what you can do"

		p
			font-size 14px
			line-height 1.4
			padding 0
			margin 0.45em 0 0.45em 0

@media only screen and (max-width 590px)
	.item
		margin-left 0
		margin-bottom 0

.marker
	position relative
	border 3px $qz-gray-1 solid
	max-width 400px
	margin 0 auto
	background-color $qz-gray-1
	z-index 3

	p
		width auto
		text-align center
		font-family $qz-sans

.bylines
	p
		font-family: $qz-sans-light
		font-size: 14px
